version: "3.9"

services:
  db:
    image: mysql:5.7
    volumes:
      - ./db_data:/var/lib/mysql
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_DATABASE_FILE: /run/secrets/db_database
      MYSQL_USER_FILE: /run/secrets/db_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_root_password
      - db_database
      - db_user
      - db_password

  statistics-generator:
    build: ./statistics-generator
    volumes:
      - ./cron.log:/var/log/cron.log
    ports:
      - 8082:8080
    depends_on:
      - db
    secrets:
      - db_database
      - db_user
      - db_password
      - db_host

  server:
    build: ./server
    depends_on:
      - db
    secrets:
      - db_database
      - db_user
      - db_password
      - db_host

secrets:
  db_root_password:
    file: ./credentials/db/ROOT_PASSWORD
  db_database:
    file: ./credentials/db/DATABASE
  db_user:
    file: ./credentials/db/USER
  db_password:
    file: ./credentials/db/PASSWORD
  db_host:
    file: ./credentials/db/HOST
  